#bingo-table {
    width: 600px;
}

#bingo-table tr.header {
    height: 3em;
}

#bingo-table tr {
    height: 7em;
}

#bingo-table th {
    color: #ffffff;
    background-color: #0a304e;
}

#bingo-table td {
    width: 20%;
    text-align: center;
    background-color: #626262;
    color: #ffffff;
}

#bingo-table td:hover {
    background-color: #0a304e;
}

#chat-div {
    width: 300px;
    height: 100%;
    position: relative;
}

#container {
    display: table;
}

.left, .right {
    display: table-cell;
}

#chat-box, #chat-users {
    overflow-y: scroll;
    overflow-x: hidden;
}

#chat-box {
    height: 530px;
}

#chat-msg {
    position: absolute;
    bottom: 0;
    width: 95%;
}

#chat-box .chat-from {
    font-weight: bold;
}

#chat-box .chat-err {
    font-weight: bold;
    color: red;
}

#chat-box .chat-server {
    font-style: italic;
}

#chat-box .chat-emote {
    font-style: italic;
}
