<!doctype html>
<html>
  <head>
    <title>Case Bingo!</title>
    <script src="/static/emoji.min.js"></script>
    <script src="/bingo.js"></script>
    <link rel="stylesheet" href="/static/bingo.css" />
    <link rel="stylesheet" href="/static/emoji.css" />
  </head>
  <body>
    <h1>Case Bingo!</h1>
    <div id="container">
      <div id="bingo-div" class="left">
        <table id="bingo-table">
          <tr class="header">
            <th>B</th>
            <th>I</th>
            <th>N</th>
            <th>G</th>
            <th>O</th>
          </tr>
          <tr>
            {% for i in range(5) %}
            <td>{{cells[i]}}</td>
            {% end %}
          </tr>
          <tr>
            {% for i in range(5, 10) %}
            <td>{{cells[i]}}</td>
            {% end %}
          </tr>
          <tr>
            {% for i in range(10, 12) %}
            <td>{{cells[i]}}</td>
            {% end %}
            <td>Free Space</td>
            {% for i in range(12, 14) %}
            <td>{{cells[i]}}</td>
            {% end %}
        </tr>
          <tr>
            {% for i in range(14, 19) %}
            <td>{{cells[i]}}</td>
            {% end %}
          </tr>
          <tr>
            {% for i in range(19, 24) %}
            <td>{{cells[i]}}</td>
            {% end %}
          </tr>
        </table>
      </div>
      <div id="chat-div" class="right">
        <h3>Chat</h3>
        <div id="chat-box"></div>
        <input type="text" id="chat-msg"></input>
      </div>
      <div style="clear:both;"></div>
    </div>
    <h3>Users</h3>
    <div id="chat-users"></div>
  </body>
</html>
