<!doctype html>
<html>
  <head>
    <title>Case Bingo!</title>
    <script src="/static/bingo.js"></script>
    <link rel="stylesheet" href="/static/bingo.css">
  </head>
  <body>
    <h1>Case Bingo!</h1>
    
    <table id="bingo-table">
      <tr>
        <th>B</th>
        <th>I</th>
        <th>N</th>
        <th>G</th>
        <th>O</th>
      </tr>
      <tr>
        {% for i in range(5) %}
        <td>{{ escape(cells[i]) }}</td>
        {% end %}
      </tr>
      <tr>
        {% for i in range(5, 10) %}
        <td>{{ escape(cells[i]) }}</td>
        {% end %}
      </tr>
      <tr>
        {% for i in range(10, 12) %}
        <td>{{ escape(cells[i]) }}</td>
        {% end %}
        <td>Free Space</td>
        {% for i in range(12, 14) %}
        <td>{{ escape(cells[i]) }}</td>
        {% end %}
        </tr>
      <tr>
        {% for i in range(14, 19) %}
        <td>{{ escape(cells[i]) }}</td>
        {% end %}
      </tr>
      <tr>
        {% for i in range(19, 24) %}
        <td>{{ escape(cells[i]) }}</td>
        {% end %}
      </tr>
    </table>
    <textarea rows="30" cols="30" id="chat-box"></textarea>
    <br>
    <input type="text" id="chat-msg" onkeypress="pb_send(event)"></input>
  </body>
</html>