<!doctype html>
<html>
  <head>
    <title>Case Bingo!</title>
    <script src="/static/emoji.min.js"></script>
    <script src="/bingo.js"></script>
    <link rel="stylesheet" href="/static/bingo.css" />
    <link rel="stylesheet" href="/static/emoji.css" />
  </head>
  <body>
    <h1>Case Bingo!</h1>
    <a href="https://github.com/brenns10/pybingo"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>
    <div id="container">
      <div id="bingo-div" class="left">
        <table id="bingo-table">
          <tr class="header">
            <th>B</th>
            <th>I</th>
            <th>N</th>
            <th>G</th>
            <th>O</th>
          </tr>
          <tr>
            {% for i in range(5) %}
            <td>{{cells[i]}}</td>
            {% end %}
          </tr>
          <tr>
            {% for i in range(5, 10) %}
            <td>{{cells[i]}}</td>
            {% end %}
          </tr>
          <tr>
            {% for i in range(10, 12) %}
            <td>{{cells[i]}}</td>
            {% end %}
            <td>Free Space</td>
            {% for i in range(12, 14) %}
            <td>{{cells[i]}}</td>
            {% end %}
        </tr>
          <tr>
            {% for i in range(14, 19) %}
            <td>{{cells[i]}}</td>
            {% end %}
          </tr>
          <tr>
            {% for i in range(19, 24) %}
            <td>{{cells[i]}}</td>
            {% end %}
          </tr>
        </table>
      </div>
      <div id="chat-div" class="right">
        <h3>Chat</h3>
        <div id="chat-box"></div>
        <input type="text" id="chat-msg"></input>
      </div>
      <div style="clear:both;"></div>
    </div>
    <h3>Users</h3>
    <div id="chat-users"></div>
    <h4>Chat Commands</h4>
    <div id="chat-commands"></div>
    <p>Case Bingo (aka PyBingo) is on <a href="https://github.com/brenns10/pybingo">GitHub!</a></p>
  </body>
</html>
